.globalnav
  .globalnav__icon
  .globalnav__search
  .globalnav__list
    %li
      = link_to 'Discover hosting', class: 'globalnav__list-btn'
    %li
      = link_to 'Help'
    %li
      = link_to 'Sign Up'
    %li
      = link_to 'Log In'
.filter
  .filter__btn
    / %li
    /   %button Dates
    / %li
    /   %button Guests
    / %li
    /   %button Room Type
    / %li
    /   %button Price
    / %li
    /   %button Instant Book
    / %li
    /   %button More filters
.main