
.globalnav
  .globalnav__icon
    =link_to root_path do
      %img{alt: "logo", src: "assets/logo.png"}

  .globalnav__search
  .globalnav__list
    %li
      = link_to 'Discover hosting', class: 'globalnav__list-btn'
    %li
      = link_to 'Help', new_host_path
    %li
      = link_to 'Sign Up',new_user_registration_path
    %li
      = link_to 'Log In',new_user_session_path
.menubar
  .menubar__filter
    / .menubar__filter__btn
    /   %button Dates
    / .menubar__filter__btn
    /   %button Guests
    / .menubar__filter__btn
    /   %button Room Type
    / .menubar__filter__btn
    /   %button Price
    / .menubar__filter__btn
    /   %button Instant Book
    / .menubar__filter__btn
    /   %button More filters

.main
  .main__left
    .main__left__room
      .main__left__room-upper
        %img{alt: "logo", src: "assets/host1.png"}
      .main__left__room-lower
        %img{alt: "logo", src: "assets/hostdetail.png"}
      .main__left__room-lower

    %br
    .main__left__room
      .main__left__room-upper
        %img{alt: "logo", src: "assets/host1.png"}
      .main__left__room-lower
        %img{alt: "logo", src: "assets/hostdetail.png"}
    %br
    .main__left__room
      .main__left__room-upper
        %img{alt: "logo", src: "assets/host1.png"}
      .main__left__room-lower
        %img{alt: "logo", src: "assets/hostdetail.png"}

    .main__left__bottom
      .main__left__bottom-pagemenu
      .main__left__bottom-text
        %p Enter dates to see full pricing. Additional fees apply. Taxes may be added.

  .main__right
    %img{alt: "logo", src: "assets/map.png"}
